extends layout
block content
    .row
      .holder
        h1
          | ALL PRODUCTS
          .grid-containerP
            each row in res1
             .item
              h1.itemtitle #{row.Name}
              img.pimage(src="#{row.Image}", alt="mulak")
              p.itemp Price: &euro;#{row.Price}
              p.itempc Category: #{row.Category}
              a.button(href="/item/#{row.id}") View
              a.button(href="/edit/#{row.id}") Edit
              a.button(href="/delete/#{row.id}") Delete
 
    