extends layout
block content
    .row
      .holder-R
        h1
          | Product Reviews
          .grid-container-R
            each review in reviews
             .item-R1
              img.pimage-R(src="#{review.image}")
              h1.itemtitle-R #{review.name}
              p.item-R #{review.content}
               .buts-R
               a.button-R(href="/editreviews/#{review.id}") Edit #{review.Name}
               a.button-R(href="/deletereview/#{review.id}") Delete #{review.id}